<html>
  <head>
    <title>RE {.section host}{host}{.end}</title>
    <meta http-equiv="refresh" content="2">
    <link rel="stylesheet" href="static/style.css" type="text/css" media="screen" title="no title" charset="utf-8"> 
  </head>
  <body>
    {.section log}
    <pre>{log}</pre>
    {.end}
    <hr>
    <p>Ideas for improvements?  Click fork on <a href="https://github.com/cloudbuilders/radioedit">github</a> and then send a pull request with your patch.</p>
    </div>
  </div>
  </body>
</html>
